<div id="app">
  <!-- Toolbar -->
  <mat-toolbar color="primary" class="app-header ">

    <a  routerLink="home"  class="positronx col-9">HomeX</a>
    <span *ngIf="!isLoggedIn"   class="nav-tool-items col-1">
    <a  mat-button routerLink="login"  routerLinkActive="active">Log in</a>
    <a mat-button mat-raised-button routerLink="register" style="color: black" routerLinkActive="active">Register</a>
  </span>
    <span *ngIf="isLoggedIn"   class="nav-tool-items col-1">
      <a mat-button (click)="logout()"  routerLinkActive="active">Log out</a>
    </span>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
